$bg-color: #004;
$fg-color: #DDD;

html, body {
  height: 100%;
  width: 100%;
  padding: auto;
  margin: auto;
  background-color: $bg-color;
  color: $fg-color;
  text-align: center;
}

nav {
  font-size: 16px;
  color: $fg-color;
  background-color: $bg-color;
}

.sect {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top left;
  border: 1px solid lighten($bg-color, 20%);
  text-align: center;
  padding: 2%;
  margin: 1%;
}

.portfolioItem {
    text-align: center;
    background: lighten($bg-color, 5%);
    border: 1px solid lighten($bg-color, 60%);
    //margin: 10px;
}

.portfolioItem img {
    width: 100%;
}

#navItems {}

#home {
  margin-top: 70px;
  padding-top: 25%;
  padding-bottom: 25%;
  color: $fg-color;
  align-items: center;
  background-image: url("https://s3.amazonaws.com/xaqiri/desert-lightning-1408110525Yi1.jpg");
}

#about {
    height: auto;
    text-align: left;
}

#about ul {
    padding-bottom: auto;
    margin-bottom: auto;
}

#portfolio {
  height: auto;
}

#contact {
  height: auto;
}

#contact a {
    border-radius: 10px 20px;
    margin-top: 10px;
}
