body {
    height: 100%;
    width: 100%;
    background-color: #000;
    text-align: center;
    font-size: 32px;
    visibility: hidden;
}

footer a {
    
}

.clickable {}

#title h1{
    font-size: 64px;
    padding-bottom: 50px;
}

#temp {
    display: inline-block;
}

#tempNum {}
#tempMode {}
#location {}
#conditions {}

#weatherIcon {
    font-size: 2em;
}
