body {
    height: 100%;
    width: 100%;
    background-color: #080C14;
}

.toggled {
    background-color: #000;
}

#title {
    text-align: center;
    color: #AADDDD;
}

#temp {
    text-align: center;
    color: #BBBBCC;
    padding: 50px;
    font-size: 32px;
} 
